* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("/imagen/]nxnxnx.jpg");
    color: #333;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 30px;
    opacity: 0.9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/imagen/]nnn.jpg");
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h5 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    color: #444;
}

label {
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
    display: block;
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    background-color: #fafafa;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="submit"] {
    padding: 12px 25px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.buttons2 {
    text-decoration: none;
    color: #007BFF;
    font-size: 16px;
}

.buttons2:hover {
    text-decoration: underline;
    color: #0056b3;
}

a{
    background-color: orchid;
    padding: 15px;
    text-decoration: none;
    color: #fafafa;
    margin: 15px;
    border-radius: 5px;
}